:root {
	--width: calc(100% / 1035);
	--height: calc(100% / 694);
}

[data-system='battery'] {
	left: calc(var(--width) * 275); width: calc(var(--width) * 105);
	top: calc(var(--height) * 234);	height: calc(var(--height) * 50);
}
[data-system='cloak'] {
	left: calc(var(--width) * 433); width: calc(var(--width) * 105);
	top: calc(var(--height) * 339); height: calc(var(--height) * 103);
}
[data-system='doors'] {
	left: calc(var(--width) * 643); width: calc(var(--width) * 103);
	top: calc(var(--height) * 287); height: calc(var(--height) * 50);
}
[data-system='drones'] {
	left: calc(var(--width) * 748); width: calc(var(--width) * 103);
	top: calc(var(--height) * 288); height: calc(var(--height) * 100);
}
[data-system='engines'] {
	left: calc(var(--width) * 171); width: calc(var(--width) * 103);
	top: calc(var(--height) * 286); height: calc(var(--height) * 104);
}
[data-system='hack'] {
	left: calc(var(--width) * 276); width: calc(var(--width) * 103);
	top: calc(var(--height) * 392); height: calc(var(--height) * 50);
}
[data-system='medbay'] {
	left: calc(var(--width) * 538); width: calc(var(--width) * 102);
	top: calc(var(--height) * 234); height: calc(var(--height) * 103)
}
[data-system='mind'] {
	left: calc(var(--width) * 434); width: calc(var(--width) * 102);
	top: calc(var(--height) * 234); height: calc(var(--height) * 103);
}
[data-system='oxygen'] {
	left: calc(var(--width) * 170); width: calc(var(--width) * 104);
	top: calc(var(--height) * 234); height: calc(var(--height) * 50);
}
[data-system='pilot'] {
	left: calc(var(--width) * 852); width: calc(var(--width) * 52);
	top: calc(var(--height) * 286); height: calc(var(--height) * 104);
}
[data-system='sensors'] {
	left: calc(var(--width) * 643); width: calc(var(--width) * 103);
	top: calc(var(--height) * 339); height: calc(var(--height) * 50);
}
[data-system='shields'] {
	left: calc(var(--width) * 538); width: calc(var(--width) * 103);
	top: calc(var(--height) * 339); height: calc(var(--height) * 103);
}
[data-system='teleport'] {
	left: calc(var(--width) * 171); width: calc(var(--width) * 103);
	top: calc(var(--height) * 392); height: calc(var(--height) * 51);
}
[data-system='weapons'] {
	left: calc(var(--width) * 329); width: calc(var(--width) * 102);
	top: calc(var(--height) * 287); height: calc(var(--height) * 102);
}