* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	padding: 1.5em 1em;
	font-family: 'Lato', sans-serif;
	color: #000;;
	background: white;
	font-size: 110%;
	line-height: 1.5;
}
img {
	display: block;
	margin: 0 auto;
}
.content-wrapper {
	box-sizing: content-box;
	max-width: 60ch;
	margin: 0 auto;
}
h1, h2, h3 {
	color: #ff4c00;
	font-weight: bold;
}
h1 {
	font-size: 250%;
	margin-bottom: 0;
	padding: 0.05em 0 0 0;
	line-height: 1;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 120%;
}

.title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.title.homepage {
	display: block;
	position: relative;
}
.title-homepage img {
	position: absolute;
	top: 0;
}
.flagship {
	margin-bottom: 140px;
	z-index: -1;
}
.title-homepage .text {
	margin-top: 80px
}
.title-homepage > div {
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	width: 100%;
	justify-content: center;
}
.subtitle {
	color: #555;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	font-size: 110%;
	margin-top: 0;
	text-align: right;
}
.guide {
	margin: 0 0 2em 0;
}
#ship {
	max-width: 33em;
	margin: 1.5em auto 4em auto;
	position: relative;
}
#ship > div {
	line-height: 0;
}
#ship img {
	width: 100%;
	height: auto;http://localhost:8080/img/kestrel-c/base.png
}
.hotspot {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	background: none;
	z-index: 1
}
#overlay {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}
button:focus {
	outline: none;
}
.ship-end {
	position: absolute;
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	margin: 0 0 0 0;
	/*padding: 0.5em 1em;*/
	border-top: 2px solid #ff4c00;
	line-height: 1.5;
}
.hack-explanation {
	padding: 0.5em 1em;
}
.end-link {
	text-align: center;
}
.ship-end .end-link {
	width: 100%;
	position: absolute;
	margin: 1.5em auto 2em auto;
}

/*==================================
	Tables
==================================*/
table {
	width: 100%;
	white-space: nowrap;
	border-collapse: collapse;
	font-size: 100%;
}
table a {
	text-decoration: none;
}
table th {
	text-align: left;
	padding: 0.5em 1em;
	display: none
}
table tr {
	border-bottom: 1px solid #ccc;
}
table tr:last-child {
	border: none;
}
table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.5em 1em;
}
table .align-right {
	text-align: right;
}
.flow *+* {
	margin-top: 1.2em;
}
.flow *+h1, .flow *+h2, .flow *+h3 {
	margin-top: 2em;
}
.flow h2 + h3 {
	margin-top: 1em;
}
.flow li+li {
	margin-top: 0;
}
.content {
	margin-top: 1.5em;
}
ul {
	margin-left: 2em;
}
.fleet-container {
	font-size: 80%;
	max-width: 39em;
}
.end-pic {
	display: block;
	margin: 2em auto 2em auto;
}