:root {
	--width: calc(100% / 951);
	--height: calc(100% / 668);
}

[data-system='battery'] {
	left: calc(var(--width) * 365); width: calc(var(--width) * 48);
	top: calc(var(--height) * 125);	height: calc(var(--height) * 101);
}
[data-system='cloak'] {
	left: calc(var(--width) * 259); width: calc(var(--width) * 100);
	top: calc(var(--height) * 72); height: calc(var(--height) * 48);
}
[data-system='doors'] {
	left: calc(var(--width) * 259); width: calc(var(--width) * 100);
	top: calc(var(--height) * 492); height: calc(var(--height) * 48);
}
[data-system='drones'] {
	left: calc(var(--width) * 730); width: calc(var(--width) * 102);
	top: calc(var(--height) * 335); height: calc(var(--height) * 100);
}
[data-system='engines'] {
	left: calc(var(--width) * 627); width: calc(var(--width) * 100);
	top: calc(var(--height) * 336); height: calc(var(--height) * 100);
}
[data-system='hack'] {
	left: calc(var(--width) * 521); width: calc(var(--width) * 100);
	top: calc(var(--height) * 387); height: calc(var(--height) * 48);
}
[data-system='medbay'] {
	left: calc(var(--width) * 312); width: calc(var(--width) * 100);
	top: calc(var(--height) * 231); height: calc(var(--height) * 100)
}
[data-system='mind'] {
	left: calc(var(--width) * 521); width: calc(var(--width) * 100);
	top: calc(var(--height) * 229); height: calc(var(--height) * 48);
}
[data-system='oxygen'] {
	left: calc(var(--width) * 259); width: calc(var(--width) * 100);
	top: calc(var(--height) * 546); height: calc(var(--height) * 48);
}
[data-system='pilot'] {
	left: calc(var(--width) * 523); width: calc(var(--width) * 48);
	top: calc(var(--height) * 283); height: calc(var(--height) * 101);
}
[data-system='sensors'] {
	left: calc(var(--width) * 259); width: calc(var(--width) * 100);
	top: calc(var(--height) * 125); height: calc(var(--height) * 48);
}
[data-system='shields'] {
	left: calc(var(--width) * 732); width: calc(var(--width) * 100);
	top: calc(var(--height) * 231); height: calc(var(--height) * 101);
}
[data-system='teleport'] {
	left: calc(var(--width) * 312); width: calc(var(--width) * 100);
	top: calc(var(--height) * 335); height: calc(var(--height) * 100);
}
[data-system='weapons'] {
	left: calc(var(--width) * 627); width: calc(var(--width) * 100);
	top: calc(var(--height) * 230); height: calc(var(--height) * 100);
}