:root {
	--width: calc(100% / 970);
	--height: calc(100% / 540);
}

[data-system='battery'] {
	left: calc(var(--width) * 526); width: calc(var(--width) * 48);
	top: calc(var(--height) * 172);	height: calc(var(--height) * 100);
}
[data-system='cloak'] {
	left: calc(var(--width) * 420); width: calc(var(--width) * 101);
	top: calc(var(--height) * 172); height: calc(var(--height) * 48);
}
[data-system='doors'] {
	left: calc(var(--width) * 578); width: calc(var(--width) * 48);
	top: calc(var(--height) * 225); height: calc(var(--height) * 100);
}
[data-system='drones'] {
	left: calc(var(--width) * 473); width: calc(var(--width) * 100);
	top: calc(var(--height) * 330); height: calc(var(--height) * 100);
}
[data-system='engines'] {
	left: calc(var(--width) * 157); width: calc(var(--width) * 100);
	top: calc(var(--height) * 330); height: calc(var(--height) * 100);
}
[data-system='hack'] {
	left: calc(var(--width) * 315); width: calc(var(--width) * 101);
	top: calc(var(--height) * 172); height: calc(var(--height) * 48);
}
[data-system='medbay'] {
	left: calc(var(--width) * 631); width: calc(var(--width) * 100);
	top: calc(var(--height) * 173); height: calc(var(--height) * 100)
}
[data-system='mind'] {
	left: calc(var(--width) * 578); width: calc(var(--width) * 48);
	top: calc(var(--height) * 120); height: calc(var(--height) * 100);
}
[data-system='oxygen'] {
	left: calc(var(--width) * 630); width: calc(var(--width) * 101);
	top: calc(var(--height) * 119); height: calc(var(--height) * 48);
}
[data-system='pilot'] {
	left: calc(var(--width) * 788); width: calc(var(--width) * 47);
	top: calc(var(--height) * 225); height: calc(var(--height) * 100);
}
[data-system='sensors'] {
	left: calc(var(--width) * 210); width: calc(var(--width) * 101);
	top: calc(var(--height) * 67); height: calc(var(--height) * 48);
}
[data-system='shields'] {
	left: calc(var(--width) * 368); width: calc(var(--width) * 100);
	top: calc(var(--height) * 330); height: calc(var(--height) * 100);
}
[data-system='teleport'] {
	left: calc(var(--width) * 210); width: calc(var(--width) * 101);
	top: calc(var(--height) * 120); height: calc(var(--height) * 48);
}
[data-system='weapons'] {
	left: calc(var(--width) * 263); width: calc(var(--width) * 100);
	top: calc(var(--height) * 330); height: calc(var(--height) * 100);
}